@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* this is the sheard style section */
* {
     font-family: "Work Sans", sans-serif;
}

.btn-primary {
     width: 160px;
     height: 64px;
     flex-shrink: 0;
     border-radius: 5px;
     background: #FFF;
     color: #005FAC;
     text-align: center;
     font-size: 20px;
     font-weight: 600;
     border: 0px;

}


/* this is the header section */
.header {
     background-image: url('/resorce/banner/banner3.png');
     background-size: cover;
     background-position: center;
     width: 100%px;
     height: 808px;
     flex-shrink: 0;
}

.banner {
     display: flex;
     flex-direction: column;
     align-items: end;
     justify-content: flex-end;
     padding: 216px;
}

.banner-titel {
     color: #FFF;
     text-align: right;
     font-size: 65px;
     font-weight: 700;
     width: 525px;

}

.banner-discription {
     color: #FFF;
     text-align: right;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     width: 494px;
}

/* this is the main section */
main {
     margin: 0 277px;
}

/* faliures section styles */
.failures {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 200px;
     margin-bottom: 200px;

}

.failures-img {
     width: 451px;
     height: 898px;

}

.failures-discription {
     width: 416px;
     margin-left: 134px;
     text-align: left;

}

.failures-titel {
     color: #151414;
     font-size: 40px;
     font-weight: 700;

}

.failures-paragreph {
     color: #444343;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
}

ul>li {
     list-style: none;
     color: #444343;
     text-align: left;
}

/* check icon style  */
.check-icon {
     color: green;
     /* Change color as needed */
     margin-right: 8px;
     /* Space between icon and text */
}

/* this is the plans section */
.plans-title {
     color: #151414;
     text-align: center;
     font-family: "Work Sans";
     font-size: 40px;
     font-weight: 700;

}

.plans-continer {
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.plans-cared {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.card-titel {
     color: #151414;
     font-size: 30px;
     font-weight: 700;

}

.card-discription {
     color: #737272;
     font-size: 25px;
     font-weight: 500;

}

.plans-cared>img {
     align-items: center;
     margin-left: 30px;
     padding-left: 300px;
}

/* this is the mindset section */
.mindset {
     
     background-image: url('/resorce/gradient1.png'), url('/resorce/watch.png');
     background-position: top left, top right;
     background-size: cover, contain;
     background-repeat: no-repeat, no-repeat;
     width: 100%;
     height: 300px;
     border-radius: 8px;
     padding-left: 100px;
     padding-top: 20px;
     margin-bottom: 50px;


}

.mindset-title {
     color: #FFF;
     font-family: "Work Sans";
     font-size: 40px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     width: 459px;
}
/* this is the footer section */


.primary-text{
     color: #FFF;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
width: 485px;
}